# System files
.DS_Store
Thumbs.db

# Logs
*.log

# NetLogo
*.nls
*.tmp.nlogo

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
pyenv

# Data
*.pkl
*.csv

# Other
*.bak
docs/Preprint.pdf
*.pdf
*.svg
docs/diagrams

